{{define "form/dokodemo"}}
<a-form layout="inline">
    <table width="100%" class="ant-table-tbody">
        <tr>
            <td>{{ i18n "pages.inbounds.targetAddress"}}</td>
            <td>
                <a-form-item>
                    <a-input v-model.trim="inbound.settings.address"></a-input>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>{{ i18n "pages.inbounds.destinationPort"}}</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.settings.port"></a-input-number>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>{{ i18n "pages.inbounds.network"}}</td>
            <td>
                <a-form-item>
                    <a-select v-model="inbound.settings.network" style="width: 100px;" :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="tcp,udp">tcp+udp</a-select-option>
                        <a-select-option value="tcp">tcp</a-select-option>
                        <a-select-option value="udp">udp</a-select-option>
                    </a-select>
                </a-form-item>           
            </td>
        </tr>
        <tr>
            <td>FollowRedirect</td>
            <td>
                <a-form-item>
                    <a-switch v-model="inbound.settings.followRedirect"></a-switch>
                </a-form-item>
            </td>
        </tr>
    </table>
</a-form>
{{end}}