{{define "form/shadowsocks"}}
<a-form layout="inline" style="padding: 10px 0px;">
    <template v-if="inbound.isSSMultiUser">
    <a-collapse activeKey="0" v-for="(client, index) in inbound.settings.shadowsockses.slice(0,1)" v-if="!isEdit">
        <a-collapse-panel header='{{ i18n "pages.inbounds.client" }}'>
            <a-form-item>
                <span slot="label">
                    <span>{{ i18n "pages.inbounds.email" }}</span>
                    <a-tooltip>
                        <template slot="title">
                            <span>{{ i18n "pages.inbounds.emailDesc" }}</span>
                        </template>
                    </a-tooltip>
                </span>
                <a-icon @click="client.email = RandomUtil.randomLowerAndNum(8)" type="sync"> </a-icon>
                <a-input v-model.trim="client.email" style="width: 200px;"></a-input>
            </a-form-item>
            <a-form-item label="Password">
                <a-icon @click="client.password = RandomUtil.randomShadowsocksPassword()" type="sync"> </a-icon>
                <a-input v-model.trim="client.password" style="width: 250px;"></a-input>
            </a-form-item>
            <a-form-item v-if="client.email && app.subSettings.enable">
                <span slot="label">
                    Subscription
                    <a-tooltip>
                        <template slot="title">
                            <span>{{ i18n "pages.inbounds.subscriptionDesc" }}</span>
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-icon @click="client.subId = RandomUtil.randomLowerAndNum(16)" type="sync"> </a-icon>
                <a-input v-model.trim="client.subId" style="width: 150px;"></a-input>
            </a-form-item>
            <a-form-item v-if="client.email && app.tgBotEnable">
                <span slot="label">
                    Telegram ID
                    <a-tooltip>
                        <template slot="title">
                            <span>{{ i18n "pages.inbounds.telegramDesc" }}</span>
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-input v-model.trim="client.tgId"></a-input>
            </a-form-item>
            <a-form-item>
                <span slot="label">
                    <span>{{ i18n "pages.inbounds.IPLimit" }}</span>
                    <a-tooltip>
                        <template slot="title">
                            <span>{{ i18n "pages.inbounds.IPLimitDesc" }}</span>
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-input-number v-model="client.limitIp" min="0"></a-input-number>
            </a-form-item>
            <br>
            <a-form-item>
                <span slot="label">
                    <span>{{ i18n "pages.inbounds.totalFlow" }}</span> (GB)
                    <a-tooltip>
                        <template slot="title">
                            0 <span>{{ i18n "pages.inbounds.meansNoLimit" }}</span>
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-input-number v-model="client._totalGB" :min="0"></a-input-number>
            </a-form-item>
            <br>
            <a-form-item label='{{ i18n "pages.client.delayedStart" }}'>
                <a-switch v-model="delayedStart" @click="client._expiryTime=0"></a-switch>
            </a-form-item>
            <br>
            <a-form-item v-if="delayedStart" label='{{ i18n "pages.client.expireDays" }}'>
                <a-input-number v-model.number="delayedExpireDays" :min="0"></a-input-number>
            </a-form-item>
            <a-form-item v-else>
                <span slot="label">
                    <span>{{ i18n "pages.inbounds.expireDate" }}</span>
                    <a-tooltip>
                        <template slot="title">
                            <span>{{ i18n "pages.inbounds.leaveBlankToNeverExpire" }}</span>
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-date-picker :show-time="{ format: 'HH:mm:ss' }" format="YYYY-MM-DD HH:mm:ss"
                                :dropdown-class-name="themeSwitcher.darkCardClass"
                                v-model="client._expiryTime" style="width: 170px;"></a-date-picker>
            </a-form-item>
        </a-collapse-panel>
    </a-collapse>
    <a-collapse v-else>
        <a-collapse-panel :header="'{{ i18n "pages.client.clientCount"}} : ' + inbound.settings.shadowsockses.length">
            <table width="100%">
                <tr class="client-table-header">
                    <th>{{ i18n "pages.inbounds.email" }}</th>
                    <th>Password</th>
                </tr>
                <tr v-for="(client, index) in inbound.settings.shadowsockses" :class="index % 2 == 1 ? 'client-table-odd-row' : ''">
                    <td>[[ client.email ]]</td>
                    <td>[[ client.password ]]</td>
                </tr>
            </table>
        </a-collapse-panel>
    </a-collapse>
</template>
</a-form>
<a-form layout="inline">
    <a-form-item label='{{ i18n "encryption" }}'>
        <a-select v-model="inbound.settings.method" style="width: 250px;" :dropdown-class-name="themeSwitcher.darkCardClass" @change="SSMethodChange">
            <a-select-option v-for="method in SSMethods" :value="method">[[ method ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item v-if="inbound.isSS2022" label='{{ i18n "password" }}'>
        <a-icon @click="inbound.settings.password = RandomUtil.randomShadowsocksPassword()" type="sync"> </a-icon>
        <a-input v-model.trim="inbound.settings.password" style="width: 250px;"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.network" }}'>
        <a-select v-model="inbound.settings.network" style="width: 100px;" :dropdown-class-name="themeSwitcher.darkCardClass">
            <a-select-option value="tcp,udp">TCP+UDP</a-select-option>
            <a-select-option value="tcp">TCP</a-select-option>
            <a-select-option value="udp">UDP</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
{{end}}