{{define "form/shadowsocks"}}
<a-form layout="inline">
    <a-form-item label='{{ i18n "encryption" }}'>
        <a-select v-model="inbound.settings.method" style="width: 250px;" :dropdown-class-name="siderDrawer.isDarkTheme ? 'ant-card-dark' : ''">
            <a-select-option v-for="method in SSMethods" :value="method">[[ method ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "password" }}'>
        <a-input v-model.trim="inbound.settings.password" style="width: 250px;"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.network" }}'>
        <a-select v-model="inbound.settings.network" style="width: 100px;" :dropdown-class-name="siderDrawer.isDarkTheme ? 'ant-card-dark' : ''">
            <a-select-option value="tcp,udp">TCP+UDP</a-select-option>
            <a-select-option value="tcp">TCP</a-select-option>
            <a-select-option value="udp">UDP</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
{{end}}