{{define "form/shadowsocks"}}
<template v-if="inbound.isSSMultiUser">
    <a-collapse activeKey="0" v-for="(client, index) in inbound.settings.shadowsockses.slice(0,1)" v-if="!isEdit">  
        <a-collapse-panel header='{{ i18n "pages.inbounds.client" }}'>
            {{template "form/client"}}
        </a-collapse-panel>
    </a-collapse>
    <a-collapse v-else>
        <a-collapse-panel :header="'{{ i18n "pages.client.clientCount"}} : ' + inbound.settings.shadowsockses.length">
            <table width="100%">
                <tr class="client-table-header">
                    <th>{{ i18n "pages.inbounds.email" }}</th>
                    <th>Password</th>
                </tr>
                <tr v-for="(client, index) in inbound.settings.shadowsockses" :class="index % 2 == 1 ? 'client-table-odd-row' : ''">
                    <td>[[ client.email ]]</td>
                    <td>[[ client.password ]]</td>
                </tr>
            </table>
        </a-collapse-panel>
    </a-collapse>
</template>
<table width="100%" class="ant-table-tbody">
    <tr>
        <td>{{ i18n "encryption" }}</td>
        <td>
            <a-form-item>
                <a-select v-model="inbound.settings.method" style="width: 250px;" @change="SSMethodChange" :dropdown-class-name="themeSwitcher.currentTheme">
                    <a-select-option v-for="method in SSMethods" :value="method">[[ method ]]</a-select-option>
                </a-select>
            </a-form-item>
        </td>
    </tr>
    <tr v-if="inbound.isSS2022">
        <td>{{ i18n "password" }}
            <a-icon @click="inbound.settings.password = RandomUtil.randomShadowsocksPassword()" type="sync"> </a-icon>
        </td>
        <td>
            <a-form-item>
                <a-input v-model.trim="inbound.settings.password" style="width: 250px"></a-input>
            </a-form-item>
        </td>
    </tr>
    <tr>
        <td>{{ i18n "pages.inbounds.network" }}</td>
        <td>
            <a-form-item>
                <a-select v-model="inbound.settings.network" style="width: 100px;" :dropdown-class-name="themeSwitcher.currentTheme">
                    <a-select-option value="tcp,udp">tcp+udp</a-select-option>
                    <a-select-option value="tcp">tcp</a-select-option>
                    <a-select-option value="udp">udp</a-select-option>
                </a-select>
            </a-form-item>
        </td>
    </tr>
</table>
{{end}}