{{define "form/socks"}}
<a-form layout="inline">
    <a-form-item label='{{ i18n "password" }}'>
        <a-switch :checked="inbound.settings.auth === 'password'"
                  @change="checked => inbound.settings.auth = checked ? 'password' : 'noauth'"></a-switch>
    </a-form-item>
    <br>
    <template v-if="inbound.settings.auth === 'password'">
        <a-form-item>
            <a-row>
                <a-button type="primary" size="small" @click="inbound.settings.addAccount(new Inbound.SocksSettings.SocksAccount())">+</a-button>
            </a-row>
            <a-input-group v-for="(account, index) in inbound.settings.accounts">
                <a-input style="width: 45%" v-model.trim="account.user"
                    addon-before='{{ i18n "username" }}'></a-input>
                <a-input style="width: 55%" v-model.trim="account.pass"
                    addon-before='{{ i18n "password" }}'>
                    <template slot="addonAfter">
                        <a-button type="primary" size="small" @click="inbound.settings.delAccount(index)">-</a-button>
                    </template>
                </a-input>
            </a-input-group>
        </a-form-item>
    </template>
    <br>
    <a-form-item label='{{ i18n "pages.inbounds.enable" }} udp'>
        <a-switch v-model="inbound.settings.udp"></a-switch>
    </a-form-item>
    <a-form-item v-if="inbound.settings.udp" label="IP">
        <a-input v-model.trim="inbound.settings.ip"></a-input>
    </a-form-item>
</a-form>
{{end}}