{{define "form/vless"}}
<a-form layout="inline" style="padding: 10px 0px;">
    <a-collapse activeKey="0" v-for="(client, index) in inbound.settings.vlesses.slice(0,1)" v-if="!isEdit">
        <a-collapse-panel header='{{ i18n "pages.inbounds.client" }}'>
            {{template "form/client"}}
        </a-collapse-panel>     
    </a-collapse>
    <a-collapse v-else>
        <a-collapse-panel :header="'{{ i18n "pages.client.clientCount"}} : ' + inbound.settings.vlesses.length">
            <table width="100%">
                <tr class="client-table-header">
                    <th>{{ i18n "pages.inbounds.email" }}</th>
                    <th>Flow</th>
                    <th>ID</th>
                </tr>
                <tr v-for="(client, index) in inbound.settings.vlesses" :class="index % 2 == 1 ? 'client-table-odd-row' : ''">
                    <td>[[ client.email ]]</td>
                    <td>[[ client.flow ]]</td>
                    <td>[[ client.id ]]</td>
                </tr>
            </table>
        </a-collapse-panel>
    </a-collapse>
</a-form>
<template v-if="inbound.isTcp">
    <a-form layout="inline">
        <a-form-item label="Fallbacks">
            <a-row>
                <a-button type="primary" size="small" @click="inbound.settings.addFallback()">
                    +
                </a-button>
            </a-row>
        </a-form-item>
    </a-form>
    
    <!-- vless fallbacks -->
    <a-form v-for="(fallback, index) in inbound.settings.fallbacks" layout="inline">
        <a-divider style="margin:0;">
            fallback[[ index + 1 ]]
            <a-icon type="delete" @click="() => inbound.settings.delFallback(index)"
                    style="color: rgb(255, 77, 79);cursor: pointer;"/>
        </a-divider>
        <table width="100%">
            <tr>
                <td style="width: 20%;">Name</td>
                <td>
                    <a-form-item>
                        <a-input v-model="fallback.name" style="width: 250px"></a-input>
                    </a-form-item>            
                </td>
            </tr>
            <tr>
                <td>Alpn</td>
                <td>
                    <a-form-item>
                        <a-input v-model="fallback.alpn" style="width: 250px"></a-input>
                    </a-form-item>
                </td>
            </tr>
            <tr>
                <td>Path</td>
                <td>
                    <a-form-item>
                        <a-input v-model="fallback.path" style="width: 250px"></a-input>
                    </a-form-item>
                </td>
            </tr>
            <tr>
                <td>Dest</td>
                <td>
                    <a-form-item>
                        <a-input v-model="fallback.dest" style="width: 250px"></a-input>
                    </a-form-item>
                </td>
            </tr>
            <tr>
                <td>xVer</td>
                <td>
                    <a-form-item>
                        <a-input-number v-model="fallback.xver" :min="0" :max="2"></a-input-number>
                    </a-form-item>
                </td>
            </tr>
    </table>
    </a-form>
    <a-divider style="margin:0;"></a-divider>
</template>
{{end}}
