{{define "form/vless"}}
<a-collapse activeKey="0" v-for="(client, index) in inbound.settings.vlesses.slice(0,1)" v-if="!isEdit">    
    <a-collapse-panel header='{{ i18n "pages.inbounds.client" }}'>
        {{template "form/client"}}
    </a-collapse-panel>
</a-collapse>
<a-collapse v-else>
    <a-collapse-panel :header="'{{ i18n "pages.client.clientCount"}} : ' + inbound.settings.vlesses.length">
        <table width="100%">
            <tr class="client-table-header">
                <th>{{ i18n "pages.inbounds.email" }}</th>
                <th>Flow</th>
                <th>ID</th>
            </tr>
            <tr v-for="(client, index) in inbound.settings.vlesses" :class="index % 2 == 1 ? 'client-table-odd-row' : ''">
                <td>[[ client.email ]]</td>
                <td>[[ client.flow ]]</td>
                <td>[[ client.id ]]</td>
            </tr>
        </table>
    </a-collapse-panel>
</a-collapse>
<template v-if="inbound.isTcp && !inbound.stream.isReality">
    <a-form layout="inline">
        <a-form-item label="Fallbacks">
            <a-row>
                <a-button type="primary" size="small"
                        @click="inbound.settings.addFallback()">
                    +
                </a-button>
            </a-row>
        </a-form-item>
    </a-form>

    <!-- vless fallbacks -->
    <a-form v-for="(fallback, index) in inbound.settings.fallbacks" :colon="false" :label-col="{ md: {span:6} }" :wrapper-col="{ md: {span:14} }">
        <a-divider style="margin:0;">
            Fallback [[ index + 1 ]]
            <a-icon type="delete" @click="() => inbound.settings.delFallback(index)"
                    style="color: rgb(255, 77, 79);cursor: pointer;"/>
        </a-divider>
        <a-form-item label='SNI'>
            <a-input v-model="fallback.name"></a-input>
        </a-form-item>            
        <a-form-item label='ALPN'>
            <a-input v-model="fallback.alpn"></a-input>
        </a-form-item>
        <a-form-item label='Path'>
            <a-input v-model="fallback.path"></a-input>
        </a-form-item>
        <a-form-item label='Dest'>
            <a-input v-model="fallback.dest"></a-input>
        </a-form-item>
        <a-form-item label='xVer'>
            <a-input-number v-model="fallback.xver" :min="0" :max="2"></a-input-number>
        </a-form-item>
    </a-form>
    <a-divider style="margin:5px 0;"></a-divider>
</template>
{{end}}
