.git
.github
.vscode
.tmp
.idea
db
cert
*.log
Dockerfile
docker-compose.yml
LICENSE
*.md
media
docs
windows_files
__pycache__
.DS_Store
.env.example
.gitignore
x-ui.rc
x-ui.service.debian
x-ui.service.rhel