services:
  3xui:
    build:
      context: .
      args:
        XRAY_VERSION: "v25.10.15"
        GEOUPDATE_CRON_SCHEDULE: "0 */6 * * *"
    container_name: 3xui_app
    volumes:
      - $PWD/db/:/etc/x-ui/
      - $PWD/cert/:/root/cert/
    environment:
      TZ: "Asia/Tehran"
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
    tty: true
    network_mode: host
    restart: unless-stopped