#!/sbin/openrc-run

command="/usr/local/dune/dune"
command_background=true
pidfile="/run/dune.pid"
description="dune Service"
procname="dune"
depend() {
    need net
}
start_pre(){
    cd /usr/local/dune
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}