# fly.toml app configuration file generated for 3x-ui--cxykg on 2026-02-15T05:56:23Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '3x-ui--cxykg'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 2053
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
