[Unit]
Description=x-ui Service
After=network.target
Wants=network.target

[Service]
Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/3x-ui-p1/
ExecStart=/usr/local/3x-ui-p1/x-ui
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
