{{define "form/realitySettings"}}
<template>
    <a-form-item label='Show'>
        <a-switch v-model="inbound.stream.reality.show"></a-switch>
    </a-form-item>
    <a-form-item label='Xver'>
        <a-input-number v-model.number="inbound.stream.reality.xver" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label='uTLS'>
        <a-select v-model="inbound.stream.reality.settings.fingerprint" :style="{ width: '100%' }"
            :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="key in UTLS_FINGERPRINT" :value="key">[[ key ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='Target'>
        <a-input v-model.trim="inbound.stream.reality.target"></a-input>
    </a-form-item>
    <a-form-item label='SNI'>
        <a-input v-model.trim="inbound.stream.reality.serverNames"></a-input>
    </a-form-item>
    <a-form-item label='Max Time Diff (ms)'>
        <a-input-number v-model.number="inbound.stream.reality.maxTimediff" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label='Min Client Ver'>
        <a-input v-model.trim="inbound.stream.reality.minClientVer" placeholder='25.9.11'></a-input>
    </a-form-item>
    <a-form-item label='Max Client Ver'>
        <a-input v-model.trim="inbound.stream.reality.maxClientVer" placeholder='25.9.11'></a-input>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template> Short IDs <a-icon @click="inbound.stream.reality.shortIds = RandomUtil.randomShortIds()"
                    type="sync"></a-icon>
            </a-tooltip>
        </template>
        <a-textarea v-model.trim="inbound.stream.reality.shortIds"></a-textarea>
    </a-form-item>
    <a-form-item label='SpiderX'>
        <a-input v-model.trim="inbound.stream.reality.settings.spiderX"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.publicKey" }}'>
        <a-textarea v-model="inbound.stream.reality.settings.publicKey"></a-textarea>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.privatekey" }}'>
        <a-textarea v-model="inbound.stream.reality.privateKey"></a-textarea>
    </a-form-item>
    <a-form-item label=" ">
        <a-space>
            <a-button type="primary" icon="import" @click="getNewX25519Cert">Get New Cert</a-button>
            <a-button danger @click="clearX25519Cert">Clear</a-button>
        </a-space>
    </a-form-item>
    <a-form-item label="mldsa65 Seed">
        <a-textarea v-model="inbound.stream.reality.mldsa65Seed"></a-textarea>
    </a-form-item>
    <a-form-item label="mldsa65 Verify">
        <a-textarea v-model="inbound.stream.reality.settings.mldsa65Verify"></a-textarea>
    </a-form-item>
    <a-form-item label=" ">
        <a-space>
            <a-button type="primary" icon="import" @click="getNewmldsa65">Get New Seed</a-button>
            <a-button danger @click="clearMldsa65">Clear</a-button>
        </a-space>
    </a-form-item>
</template>
{{end}}