{{define "form/streamQUIC"}}
<a-form :colon="false" :label-col="{ md: {span:6} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label='{{ i18n "pages.inbounds.stream.quic.encryption" }}'>
        <a-select v-model="inbound.stream.quic.security" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option value="none">None</a-select-option>
            <a-select-option value="aes-128-gcm">AES-128-GCM</a-select-option>
            <a-select-option value="chacha20-poly1305">CHACHA20-POLY1305</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                {{ i18n "password" }}
                <a-icon @click="inbound.stream.quic.key = RandomUtil.randomSeq(10)"type="sync"> </a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="inbound.stream.quic.key"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "camouflage" }}'>
        <a-select v-model="inbound.stream.quic.type" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option value="none">None</a-select-option>
            <a-select-option value="srtp">SRTP</a-select-option>
            <a-select-option value="utp">uTP</a-select-option>
            <a-select-option value="wechat-video">WeChat</a-select-option>
            <a-select-option value="dtls">DTLS 1.2</a-select-option>
            <a-select-option value="wireguard">WireGuard</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
{{end}}
