{{define "form/streamQUIC"}}
<a-form layout="inline">
    <table width="100%" class="ant-table-tbody">
        <tr>
            <td>{{ i18n "pages.inbounds.stream.quic.encryption" }}</td>
            <td>
                <a-form-item>
                    <a-select v-model="inbound.stream.quic.security" style="width: 250px;"
                        :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="none">none</a-select-option>
                        <a-select-option value="aes-128-gcm">aes-128-gcm</a-select-option>
                        <a-select-option value="chacha20-poly1305">chacha20-poly1305</a-select-option>
                    </a-select>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>{{ i18n "password" }}</td>
            <td>
                <a-form-item>
                    <a-input v-model.trim="inbound.stream.quic.key" style="width: 250px;"></a-input>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>{{ i18n "camouflage" }}</td>
            <td>
                <a-form-item>
                    <a-select v-model="inbound.stream.quic.type" style="width: 280px;"
                        :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="none">none (not camouflage)</a-select-option>
                        <a-select-option value="srtp">srtp (camouflage video call)</a-select-option>
                        <a-select-option value="utp">utp (camouflage BT download)</a-select-option>
                        <a-select-option value="wechat-video">wechat-video (camouflage WeChat video)</a-select-option>
                        <a-select-option value="dtls">dtls (camouflage DTLS 1.2 packages)</a-select-option>
                        <a-select-option value="wireguard">wireguard (camouflage wireguard packages)</a-select-option>
                    </a-select>
                </a-form-item>
            </td>
        </tr>
    </table>
</a-form>
{{end}}