{{define "form/streamKCP"}}
<a-form layout="inline">
    <table width="100%" class="ant-table-tbody">
        <tr>
            <td>{{ i18n "camouflage" }}</td>
            <td>
                <a-form-item>
                    <a-select v-model="inbound.stream.kcp.type" style="width: 250px;"
                        :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="none">None (Not Camouflage)</a-select-option>
                        <a-select-option value="srtp">SRTP (Camouflage Video Call)</a-select-option>
                        <a-select-option value="utp">UTP (Camouflage BT Download)</a-select-option>
                        <a-select-option value="wechat-video">Wechat-Video (Camouflage WeChat Video)</a-select-option>
                        <a-select-option value="dtls">DTLS (Camouflage DTLS 1.2 Packages)</a-select-option>
                        <a-select-option value="wireguard">Wireguard (Camouflage Wireguard Packages)</a-select-option>
                    </a-select>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>{{ i18n "password" }}</td>
            <td>
                <a-form-item>
                    <a-input v-model="inbound.stream.kcp.seed" style="width: 250px;"></a-input>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>MTU</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.stream.kcp.mtu"></a-input-number>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>TTI (ms)</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.stream.kcp.tti"></a-input-number>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>Uplink Capacity (MB/S)</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.stream.kcp.upCap"></a-input-number>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>Downlink Capacity (MB/S)</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.stream.kcp.downCap"></a-input-number>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>Congestion</td>
            <td>
                <a-form-item>
                    <a-switch v-model="inbound.stream.kcp.congestion"></a-switch>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>Read Buffer Size (MB)</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.stream.kcp.readBuffer"></a-input-number>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>Write Buffer Size (MB)</td>
            <td>
                <a-form-item>
                    <a-input-number v-model.number="inbound.stream.kcp.writeBuffer"></a-input-number>
                </a-form-item>
            </td>
        </tr>
    </table>
</a-form>
{{end}}