{{define "form/streamSockopt"}}
<a-divider style="margin:5px 0 0;"></a-divider>
<a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label="TPROXY">
        <a-switch v-model="inbound.stream.sockoptSwitch"></a-switch>
    </a-form-item>
    <template v-if="inbound.stream.sockoptSwitch">
        <a-form-item label="PROXY Protocol">
            <a-switch v-model="inbound.stream.sockopt.acceptProxyProtocol"></a-switch>
        </a-form-item>
        <a-form-item label="TCP Fast Open">
            <a-switch v-model.trim="inbound.stream.sockopt.tcpFastOpen"></a-switch>
        </a-form-item>
        <a-form-item label="Route Mark">
            <a-input-number v-model="inbound.stream.sockopt.mark" :min="0"></a-input-number>
        </a-form-item>
        <a-form-item label="TPROXY">
            <a-select v-model="inbound.stream.sockopt.tproxy" :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option value="off">Off</a-select-option>
                <a-select-option value="redirect">Redirect</a-select-option>
                <a-select-option value="tproxy">TPROXY</a-select-option>
            </a-select>
        </a-form-item>
    </template>
</a-form>
{{end}}
