{{define "form/streamSettings"}}
<!-- select stream network -->
<a-form :colon="false" :label-col="{ md: {span:6} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label='{{ i18n "transmission" }}'>
        <a-select v-model="inbound.stream.network" @change="streamNetworkChange"
            :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option value="tcp">TCP</a-select-option>
            <a-select-option value="kcp">mKCP</a-select-option>
            <a-select-option value="ws">WS</a-select-option>
            <a-select-option value="http">H2</a-select-option>
            <a-select-option value="quic">QUIC</a-select-option>
            <a-select-option value="grpc">gRPC</a-select-option>
        </a-select>
    </a-form-item>
</a-form>

<!-- tcp -->
<template v-if="inbound.stream.network === 'tcp'">
    {{template "form/streamTCP"}}
</template>

<!-- kcp -->
<template v-if="inbound.stream.network === 'kcp'">
    {{template "form/streamKCP"}}
</template>

<!-- ws -->
<template v-if="inbound.stream.network === 'ws'">
    {{template "form/streamWS"}}
</template>

<!-- http -->
<template v-if="inbound.stream.network === 'http'">
    {{template "form/streamHTTP"}}
</template>

<!-- quic -->
<template v-if="inbound.stream.network === 'quic'">
    {{template "form/streamQUIC"}}
</template>

<!-- grpc -->
<template v-if="inbound.stream.network === 'grpc'">
    {{template "form/streamGRPC"}}
</template>
<!-- sockopt -->
<template>
    {{template "form/streamSockopt"}}
</template>
{{end}}
