aiofiles>=24.1.0
aiogram>=3.24.0
aiohappyeyeballs>=2.6.1
aiohttp>=3.12.15
aiosignal>=1.4.0
annotated-types>=0.7.0
anyio>=4.13.0
attrs>=25.3.0
certifi>=2025.8.3
click>=8.3.2
coloredlogs>=15.0.1
colorlog>=6.9.0
fastapi>=0.115.0
frozenlist>=1.7.0
greenlet>=3.2.4
h11>=0.16.0
humanfriendly>=10.0
idna>=3.10
Jinja2>=3.1.4
magic-filter>=1.0.12
MarkupSafe>=3.0.3
multidict>=6.6.3
pillow>=12.2.0
propcache>=0.3.2
pydantic>=2.12.0
pydantic-settings>=2.10.1
pydantic_core>=2.41.1
python-dotenv>=1.1.1
qrcode>=8.2
SQLAlchemy>=2.0.42
starlette>=0.38.6
typing-inspection>=0.4.1
typing_extensions>=4.14.1
uvicorn>=0.32.0
yarl>=1.20.1
