{{define "form/tunnel"}}
<a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label='{{ i18n "pages.inbounds.targetAddress"}}'>
        <a-input v-model.trim="inbound.settings.address"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.destinationPort"}}'>
        <a-input-number v-model.number="inbound.settings.port"></a-input-number>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.portMap"}}'>
        <a-button size="small" @click="inbound.settings.portMap.push({name: '', value: ''})">+</a-button>
    </a-form-item>
    <a-form-item :wrapper-col="{span:24}">
        <a-input-group compact v-for="(pm, index) in inbound.settings.portMap">
            <a-input style="width: 50%" v-model.trim="pm.name" placeholder='{{ i18n "pages.inbounds.port"}}'>
                <template slot="addonBefore" style="margin: 0;">[[ index+1 ]]</template>
            </a-input>
            <a-input style="width: 50%" v-model.trim="pm.value" placeholder='{{ i18n "pages.inbounds.targetAddress" }}'>
                <a-button slot="addonAfter" size="small" @click="inbound.settings.portMap.splice(index,1)">-</a-button>
            </a-input>
        </a-input-group>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.network"}}'>
        <a-select v-model="inbound.settings.network" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option value="tcp,udp">TCP,UDP</a-select-option>
            <a-select-option value="tcp">TCP</a-select-option>
            <a-select-option value="udp">UDP</a-select-option>
        </a-select>
    </a-form-item>           
    <a-form-item label='Follow Redirect'>
        <a-switch v-model="inbound.settings.followRedirect"></a-switch>
    </a-form-item>
</a-form>
<!-- sockopt -->
<template>
    {{template "form/streamSockopt"}}
</template>
{{end}}
