{{define "form/trojan"}}
<a-collapse activeKey="0" v-for="(client, index) in inbound.settings.trojans.slice(0,1)" v-if="!isEdit">
  <a-collapse-panel header='{{ i18n "pages.inbounds.client" }}'>
    {{template "form/client" .}}
  </a-collapse-panel>
</a-collapse>
<a-collapse v-else>
  <a-collapse-panel :header="'{{ i18n "pages.client.clientCount"}} : ' + inbound.settings.trojans.length">
    <table width="100%">
      <tr class="client-table-header">
        <th>{{ i18n "pages.inbounds.email" }}</th>
        <th>Password</th>
      </tr>
      <tr v-for="(client, index) in inbound.settings.trojans" :class="index % 2 == 1 ? ' client-table-odd-row' : ''">
        <td>[[ client.email ]]</td>
        <td>[[ client.password ]]</td>
      </tr>
    </table>
  </a-collapse-panel>
</a-collapse>
<template v-if=" inbound.isTcp">
  {{template "form/fallbacks" .}}
  <a-divider style="margin:5px 0;"></a-divider>
</template>
{{end}}