.mb-12 {
  margin-bottom: 12px;
}

.version-list {
  width: 100%;
}

.version-list-item {
  display: flex;
  justify-content: space-between;
}

.actions-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
