{{define "form/client"}}
<a-form layout="inline" v-if="client">
    <template v-if="isEdit">
    <a-tag v-if="isExpiry || isTrafficExhausted" color="red" style="margin-bottom: 10px;display: block;text-align: center;">Account is (Expired|Traffic Ended) And Disabled</a-tag>
    </template>
    <a-form-item>
        <span slot="label">
            <span>{{ i18n "pages.inbounds.Email" }}</span>
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.EmailDesc" }}</span>
                </template>
                <a-icon type="sync" @click="getNewEmail(client)"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="client.email" style="width: 150px;" ></a-input>
    </a-form-item>
    <a-form-item label="{{ i18n "pages.inbounds.enable" }}">
        <a-switch v-model="client.enable"></a-switch>
    </a-form-item>
    <a-form-item label="Password" v-if="inbound.protocol === Protocols.TROJAN">
        <a-input v-model.trim="client.password" style="width: 150px;" ></a-input>
    </a-form-item>
    <a-form-item label="ID" v-if="inbound.protocol === Protocols.VMESS || inbound.protocol === Protocols.VLESS">
        <a-input v-model.trim="client.id" style="width: 300px;"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "additional" }} ID' v-if="inbound.protocol === Protocols.VMESS">
        <a-input type="number" v-model.number="client.alterId" style="width: 70px;"></a-input>
    </a-form-item>
	<a-form-item label="Subscription" v-if="client.email">
        <a-input v-model.trim="client.subId"></a-input>
    </a-form-item>
    <a-form-item label="Telegram Username" v-if="client.email">
        <a-input v-model.trim="client.tgId"></a-input>
    </a-form-item>
	<a-form-item>
		<span slot="label">
			<span>{{ i18n "pages.inbounds.IPLimit" }}</span>
			<a-tooltip>
				<template slot="title">
				<span>{{ i18n "pages.inbounds.IPLimitDesc" }}</span>
				</template>
				<a-icon type="question-circle" theme="filled"></a-icon>
			</a-tooltip>
		</span>
		<a-input type="number" v-model.number="client.limitIp" min="0" style="width: 70px;" ></a-input>
	</a-form-item>
	<a-form-item v-if="client.email && client.limitIp > 0 && isEdit">
		<span slot="label">
			<span>{{ i18n "pages.inbounds.IPLimitlog" }}</span>
			<a-tooltip>
				<template slot="title">
				<span>{{ i18n "pages.inbounds.IPLimitlogDesc" }}</span>
				</template>
				<a-icon type="question-circle" theme="filled"></a-icon>
			</a-tooltip>
			<a-tooltip>
				<template slot="title">
				<span>{{ i18n "pages.inbounds.IPLimitlogclear" }}</span>
				</template>
				<span style="color: #FF4D4F">
				<a-icon type="delete" @click="clearDBClientIps(client.email)"></a-icon>
				</span>
			</a-tooltip>
		</span>
		<a-form layout="block">
			<a-textarea id="clientIPs" readonly @click="getDBClientIps(client.email,$event)" placeholder="Click To Get IPs"  :auto-size="{ minRows: 2, maxRows: 10 }">
			</a-textarea>
		</a-form>
	</a-form-item>
    <a-form-item v-if="inbound.XTLS" label="Flow">
        <a-select v-model="client.flow" style="width: 150px" :dropdown-class-name="siderDrawer.isDarkTheme ? 'ant-card-dark' : ''">
            <a-select-option value="">{{ i18n "none" }}</a-select-option>
            <a-select-option v-for="key in XTLS_FLOW_CONTROL" :value="key">[[ key ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item v-else-if="inbound.canEnableTlsFlow()" label="Flow" layout="inline">
        <a-select v-model="client.flow" style="width: 150px">
            <a-select-option value="" selected>{{ i18n "none" }}</a-select-option>
            <a-select-option v-for="key in TLS_FLOW_CONTROL" :value="key">[[ key ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            <span >{{ i18n "pages.inbounds.totalFlow" }}</span>(GB)
            <a-tooltip>
                <template slot="title">
                    0 <span>{{ i18n "pages.inbounds.meansNoLimit" }}</span>
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input-number v-model="client._totalGB":min="0" style="width: 70px;"></a-input-number>
        <template v-if="isEdit && clientStats">
            <span>{{ i18n "usage" }}:</span>
            <a-tag :color="statsColor">
                [[ sizeFormat(clientStats.up) ]] / 
                [[ sizeFormat(clientStats.down) ]]
                ([[ sizeFormat(clientStats.up + clientStats.down) ]])
            </a-tag>
        </template>
    </a-form-item>
    <a-form-item label="{{ i18n "pages.client.delayedStart" }}">
        <a-switch v-model="clientModal.delayedStart" @click="client._expiryTime=0"></a-switch>
    </a-form-item>
    <a-form-item label="{{ i18n "pages.client.expireDays" }}" v-if="clientModal.delayedStart">
        <a-input type="number" v-model.number="delayedExpireDays" :min="0"></a-input>
    </a-form-item>
    <a-form-item v-else>
        <span slot="label">
            <span >{{ i18n "pages.inbounds.expireDate" }}</span>
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.leaveBlankToNeverExpire" }}</span>
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-date-picker :show-time="{ format: 'HH:mm' }" format="YYYY-MM-DD HH:mm"
                       :dropdown-class-name="siderDrawer.isDarkTheme ? 'ant-card-dark' : ''"
                       v-model="client._expiryTime" style="width: 170px;"></a-date-picker>
        <a-tag color="red" v-if="isExpiry">Expired</a-tag>
    </a-form-item>
</a-form>
{{end}}