{{define "inboundInfoModal"}}
<a-modal id="inbound-info-modal"
    v-model="infoModal.visible" title='{{ i18n "pages.inbounds.details"}}'
    :closable="true"
    :mask-closable="true"
    :class="themeSwitcher.darkCardClass"
    :footer="null"
    width="600px"
    >
    <table style="margin-bottom: 10px; width: 100%;">
        <tr><td>
                <table>
                    <tr><td>{{ i18n "protocol" }}</td><td><a-tag color="green">[[ dbInbound.protocol ]]</a-tag></td></tr>
                    <tr><td>{{ i18n "pages.inbounds.address" }}</td><td><a-tag color="blue">[[ dbInbound.address ]]</a-tag></td></tr>
                    <tr><td>{{ i18n "pages.inbounds.port" }}</td><td><a-tag color="green">[[ dbInbound.port ]]</a-tag></td></tr>
                </table>
            </td>
            <td v-if="dbInbound.isVMess || dbInbound.isVLess || dbInbound.isTrojan || dbInbound.isSS">
                <table>
                    <tr>
                        <td>{{ i18n "transmission" }}</td><td><a-tag color="green">[[ inbound.network ]]</a-tag></td>
                    </tr>
                    <template v-if="inbound.isTcp || inbound.isWs || inbound.isH2">
                        <tr v-if="inbound.host"><td>{{ i18n "host" }}</td><td><a-tag color="green">[[ inbound.host ]]</a-tag></td></tr>
                        <tr v-else><td>{{ i18n "host" }}</td><td><a-tag color="orange">{{ i18n "none" }}</a-tag></td></tr>

                        <tr v-if="inbound.path"><td>{{ i18n "path" }}</td><td><a-tag color="green">[[ inbound.path ]]</a-tag></td></tr>
                        <tr v-else><td>{{ i18n "path" }}</td><td><a-tag color="orange">{{ i18n "none" }}</a-tag></td></tr>
                    </template>

                    <template v-if="inbound.isQuic">
                        <tr><td>quic {{ i18n "encryption" }}</td><td><a-tag color="green">[[ inbound.quicSecurity ]]</a-tag></td></tr>
                        <tr><td>quic {{ i18n "password" }}</td><td><a-tag color="green">[[ inbound.quicKey ]]</a-tag></td></tr>
                        <tr><td>quic {{ i18n "camouflage" }}</td><td><a-tag color="green">[[ inbound.quicType ]]</a-tag></td></tr>
                    </template>

                    <template v-if="inbound.isKcp">
                        <tr><td>kcp {{ i18n "encryption" }}</td><td><a-tag color="green">[[ inbound.kcpType ]]</a-tag></td></tr>
                        <tr><td>kcp {{ i18n "password" }}</td><td><a-tag color="green">[[ inbound.kcpSeed ]]</a-tag></td></tr>
                    </template>

                    <template v-if="inbound.isGrpc">
                        <tr><td>grpc serviceName</td><td><a-tag color="green">[[ inbound.serviceName ]]</a-tag></td></tr>
                        <tr><td>grpc multiMode</td><td><a-tag color="green">[[ inbound.stream.grpc.multiMode ]]</a-tag></td></tr>
                    </template>
                </table>
            </td></tr>
        <tr colspan="2" v-if="dbInbound.hasLink()">
            <td v-if="inbound.tls">
                tls: <a-tag color="green">{{ i18n "enabled" }}</a-tag><br />
                tls {{ i18n "domainName" }}: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : '' ]]</a-tag>
            </td>
            <td v-else-if="inbound.xtls">
                xtls: <a-tag color="green">{{ i18n "enabled" }}</a-tag><br />
                xtls {{ i18n "domainName" }}: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : '' ]]</a-tag>
            </td>
            <td v-else-if="inbound.reality">
                reality: <a-tag color="green">{{ i18n "enabled" }}</a-tag><br />
                reality Destination: <a-tag :color="inbound.stream.reality.dest ? 'green' : 'orange'">[[ inbound.stream.reality.dest ]]</a-tag>
            </td>
            <td v-else>tls: <a-tag color="red">{{ i18n "disabled" }}</a-tag></td>
        </tr>
    </table>
    <table v-if="dbInbound.isSS" style="margin-bottom: 10px; width: 100%;">
        <tr>
            <td>{{ i18n "encryption" }}</td>
            <td><a-tag color="green">[[ inbound.settings.method ]]</a-tag></td>
        </tr><tr v-if="inbound.isSS2022">
            <td>{{ i18n "password" }}</td>
            <td><a-tag color="blue">[[ inbound.settings.password ]]</a-tag></td>
        </tr><tr>
            <td>{{ i18n "pages.inbounds.network" }}</td>
            <td><a-tag color="green">[[ inbound.settings.network ]]</a-tag></td>
        </tr>
    </table>
    <template v-if="infoModal.clientSettings">
        <a-divider>{{ i18n "pages.inbounds.client" }}</a-divider>
        <table style="margin-bottom: 10px;">
            <tr>
                <td>{{ i18n "pages.inbounds.email" }}</td>
                <td><a-tag color="green">[[ infoModal.clientSettings.email ]]</a-tag></td>
            </tr>
            <tr v-if="infoModal.clientSettings.id">
                <td>ID</td>
                <td><a-tag color="green">[[ infoModal.clientSettings.id ]]</a-tag></td>
            </tr>
            <tr v-if="infoModal.inbound.canEnableTlsFlow()">
                <td>Flow</td>
                <td><a-tag color="green">[[ infoModal.clientSettings.flow ]]</a-tag></td>
            </tr>
            <tr v-if="infoModal.clientSettings.password">
                <td>Password</td>
                <td><a-tag color="green">[[ infoModal.clientSettings.password ]]</a-tag></td>
            </tr>
            <tr>
                <td>{{ i18n "status" }}</td>
                <td>
                    <a-tag v-if="isEnable" color="blue">{{ i18n "enabled" }}</a-tag>
                    <a-tag v-else color="red">{{ i18n "disabled" }}</a-tag>
                    <a-tag v-if="!isActive" color="red">{{ i18n "depleted" }}</a-tag>
                </td>
            </tr>
            <tr v-if="infoModal.clientStats">
                <td>{{ i18n "usage" }}</td>
                <td>
                    <a-tag color="green">[[ sizeFormat(infoModal.clientStats.up + infoModal.clientStats.down) ]]</a-tag>
                    <a-tag color="blue">↑ [[ sizeFormat(infoModal.clientStats.up) ]] / [[ sizeFormat(infoModal.clientStats.down) ]] ↓</a-tag>
                </td>
            </tr>
        </table>
        <table style="margin-bottom: 10px; width: 100%;">
            <tr>
                <th>{{ i18n "remained" }}</th>
                <th>{{ i18n "pages.inbounds.totalFlow" }}</th>
                <th>{{ i18n "pages.inbounds.expireDate" }}</th>
            </tr>
        <tr>
            <td>
                <a-tag v-if="infoModal.clientStats && infoModal.clientSettings.totalGB > 0" :color="statsColor(infoModal.clientStats)">
                    [[ sizeFormat(infoModal.clientSettings.totalGB - infoModal.clientStats.up - infoModal.clientStats.down) ]]
                </a-tag>
            </td>
            <td>
                <a-tag v-if="infoModal.clientSettings.totalGB > 0" :color="statsColor(infoModal.clientStats)">
                    [[ sizeFormat(infoModal.clientSettings.totalGB) ]]
                </a-tag>
                <a-tag v-else color="green">{{ i18n "indefinite" }}</a-tag>
            </td>
            <td>
                <template v-if="infoModal.clientSettings.expiryTime > 0">
                    <a-tag :color="usageColor(new Date().getTime(), app.expireDiff, infoModal.clientSettings.expiryTime)">
                        [[ DateUtil.formatMillis(infoModal.clientSettings.expiryTime) ]]
                    </a-tag>
                </template>
                <a-tag v-else-if="infoModal.clientSettings.expiryTime < 0" color="cyan">[[ infoModal.clientSettings.expiryTime / -86400000 ]] {{ i18n "pages.client.days" }}</a-tag>
                <a-tag v-else color="green">{{ i18n "indefinite" }}</a-tag>
            </td>
        </tr>
    </table>
    <template v-if="app.subSettings.enable && infoModal.clientSettings.subId">
        <a-divider>Subscription link</a-divider>
        <a-row>
            <a-col :span="22"><a :href="[[ infoModal.subLink ]]" target="_blank">[[ infoModal.subLink ]]</a></a-col>
            <a-col :span="2">
                <a-tooltip title='{{ i18n "copy" }}'>
                    <button class="ant-btn ant-btn-primary" id="copy-sub-link" @click="copyToClipboard('copy-sub-link', infoModal.subLink)">
                        <a-icon type="snippets"></a-icon>
                    </button>
                </a-tooltip>
            </a-col>
        </a-row>
    </template>
    <template v-if="app.tgBotEnable && infoModal.clientSettings.tgId">
        <a-divider>Telegram Username</a-divider>
        <a-row>
            <a-col :span="22"><a :href="[[ infoModal.tgLink ]]" target="_blank">@[[ infoModal.clientSettings.tgId ]]</a></a-col>
            <a-col :span="2">
                <a-tooltip title='{{ i18n "copy" }}'>
                    <button class="ant-btn ant-btn-primary" id="copy-tg-link" @click="copyToClipboard('copy-tg-link', '@' + infoModal.clientSettings.tgId)">
                        <a-icon type="snippets"></a-icon>
                    </button>
                </a-tooltip>
            </a-col>
        </a-row>
    </template>
    <template v-if="dbInbound.hasLink()">
        <a-divider>URL</a-divider>
        <a-row v-for="(link,index) in infoModal.links">
            <a-col :span="22"><a-tag color="cyan">[[ link.remark ]]</a-tag><br />[[ link.link ]]</a-col>
            <a-col :span="2" style="text-align: right;">
                <a-tooltip title='{{ i18n "copy" }}'>
                    <button class="ant-btn ant-btn-primary" :id="'copy-url-link-'+index" @click="copyToClipboard('copy-url-link-'+index, link.link)">
                        <a-icon type="snippets"></a-icon>
                    </button>
                </a-tooltip>
            </a-col>
        </a-row>
    </template>
</template>
    <template v-else>
        <template v-if="dbInbound.isSS && !inbound.isSSMultiUser">
            <a-divider>URL</a-divider>
            <a-row v-for="(link,index) in infoModal.links">
                <a-col :span="22"><a-tag color="cyan">[[ link.remark ]]</a-tag><br />[[ link.link ]]</a-col>
                <a-col :span="2" style="text-align: right;">
                    <a-tooltip title='{{ i18n "copy" }}'>
                        <button class="ant-btn ant-btn-primary" :id="'copy-url-link-'+index" @click="copyToClipboard('copy-url-link-'+index, link.link)">
                            <a-icon type="snippets"></a-icon>
                        </button>
                    </a-tooltip>
                </a-col>
            </a-row>
        </template>
        <table v-if="inbound.protocol == Protocols.DOKODEMO" style="margin-bottom: 10px; width: 100%;">
            <tr>
                <th>{{ i18n "pages.inbounds.targetAddress" }}</th>
                <th>{{ i18n "pages.inbounds.destinationPort" }}</th>
                <th>{{ i18n "pages.inbounds.network" }}</th>
                <th>FollowRedirect</th>
            </tr><tr>
                <td><a-tag color="green">[[ inbound.settings.address ]]</a-tag></td>
                <td><a-tag color="blue">[[ inbound.settings.port ]]</a-tag></td>
                <td><a-tag color="green">[[ inbound.settings.network ]]</a-tag></td>
                <td><a-tag color="blue">[[ inbound.settings.followRedirect ]]</a-tag></td>
            </tr>
        </table>
        <table v-if="dbInbound.isSocks" style="margin-bottom: 10px; width: 100%;">
            <tr>
                <th>{{ i18n "password" }} Auth</th>
                <th>{{ i18n "pages.inbounds.enable" }} udp</th>
                <th>IP</th>
            </tr>
            <tr>
                <td><a-tag color="green">[[ inbound.settings.auth ]]</a-tag></td>
                <td><a-tag color="blue">[[ inbound.settings.udp]]</a-tag></td>
                <td><a-tag color="green">[[ inbound.settings.ip ]]</a-tag></td>
            </tr>
            <template v-if="inbound.settings.auth == 'password'">
                <tr>
                <td> </td>
                <td>{{ i18n "username" }}</td>
                <td>{{ i18n "password" }}</td>
            </tr><tr v-for="account,index in inbound.settings.accounts">
                <td><a-tag color="green">[[ index ]]</a-tag></td>
                <td><a-tag color="blue">[[ account.user ]]</a-tag></td>
                <td><a-tag color="green">[[ account.pass ]]</a-tag></td>
            </tr>
        </template>
    </table>
    <table v-if="dbInbound.isHTTP" style="margin-bottom: 10px; width: 100%;">
            <tr>
                <th> </th>
                <th>{{ i18n "username" }}</th>
                <th>{{ i18n "password" }}</th>
            </tr><tr v-for="account,index in inbound.settings.accounts">
                <td><a-tag color="green">[[ index ]]</a-tag></td>
                <td><a-tag color="blue">[[ account.user ]]</a-tag></td>
                <td><a-tag color="green">[[ account.pass ]]</a-tag></td>
            </tr>
        </table>
    </template>
</a-modal>
<script>
    const infoModal = {
        visible: false,
        inbound: new Inbound(),
        dbInbound: new DBInbound(),
        settings: null,
        clientSettings: null,
        clientStats: [],
        upStats: 0,
        downStats: 0,
        clipboard: null,
        links: [],
        index: null,
        isExpired: false,
        subLink: '',
        tgLink: '',
        show(dbInbound, index) {
            this.index = index;
            this.inbound = dbInbound.toInbound();
            this.dbInbound = new DBInbound(dbInbound);
            this.settings = JSON.parse(this.inbound.settings);
            this.clientSettings = this.settings.clients ? Object.values(this.settings.clients)[index] : null;
            this.isExpired = this.inbound.isExpiry(index);
            this.clientStats = this.settings.clients ? this.dbInbound.clientStats.find(row => row.email === this.clientSettings.email) : [];
            remark = this.dbInbound.remark + ( this.clientSettings ? "-" + this.clientSettings.email : '');
            address = this.dbInbound.address;
            this.links = [];
            if (this.inbound.tls && !ObjectUtil.isArrEmpty(this.inbound.stream.tls.settings.domains)) {
                this.inbound.stream.tls.settings.domains.forEach((domain) => {
                    this.links.push({
                        remark: remark + "-" + domain.remark,
                        link: this.inbound.genLink(domain.domain, remark + "-" + domain.remark, index)
                    });
                });
            } else {
                this.links.push({
                    remark: remark,
                    link: this.inbound.genLink(address, remark, index)
                });
            }
            if (this.clientSettings) {
                if (this.clientSettings.subId) {
                    this.subLink = this.genSubLink(this.clientSettings.subId);
                }
                if (this.clientSettings.tgId) {
                    this.tgLink = "https://t.me/" + this.clientSettings.tgId;
                }
            }
            this.visible = true;
        },
        close() {
            infoModal.visible = false;
        },
        genSubLink(subID) {
            const { domain: host, port, tls: isTLS, path: base } = app.subSettings;
            return buildURL({ host, port, isTLS, base, path: subID });
        }
    };

    const infoModalApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#inbound-info-modal',
        data: {
            infoModal,
            get dbInbound() {
                return this.infoModal.dbInbound;
            },
            get inbound() {
                return this.infoModal.inbound;
            },
            get isActive() {
                if (infoModal.clientStats) {
                    return infoModal.clientStats.enable;
                }
                return infoModal.dbInbound.isEnable;
            },
            get isEnable() {
                if (infoModal.clientSettings) {
                    return infoModal.clientSettings.enable;
                }
                return infoModal.dbInbound.isEnable;
            },
        },
        methods: {
            copyToClipboard(elmentId, content) {
                this.infoModal.clipboard = new ClipboardJS('#' + elmentId, {
                    text: () => content,
                });
                this.infoModal.clipboard.on('success', () => {
                    app.$message.success('{{ i18n "copied" }}')
                    this.infoModal.clipboard.destroy();
                });
            },
            statsColor(stats) {
                return usageColor(stats.up + stats.down, app.trafficDiff, stats.total);
            }
        },
    });

</script>
{{end}}