<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    @media (max-width: 768px) {
        .ant-tabs-nav .ant-tabs-tab {
            margin: 0;
            padding: 12px .5rem;
        }
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .alert-msg {
        color: rgb(194, 117, 18);
        font-weight: normal;
        font-size: 16px;
        padding: .5rem 1rem;
        text-align: center;
        background: rgb(255 145 0 / 15%);
        margin: 1.5rem 2.5rem 0rem 2.5rem;
        border-radius: .5rem;
        transition: all 0.5s;
        animation: signal 3s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    }
    .alert-msg:hover {
        cursor: default;
        transition-duration: .3s;
        animation: signal 0.9s ease infinite;
    }
    @keyframes signal{
    0%{
        box-shadow: 0 0 0 0 rgba(194, 118, 18, 0.5);
    }
    50%{
        box-shadow: 0 0 0 6px rgba(0 ,0,0,0);
    }
    100%{
        box-shadow: 0 0 0 6px rgba(0 ,0,0,0);
    }
    }
    .alert-msg > i {
        color: inherit;
        font-size: 24px;
    }

    .collapse-title {
        color: inherit;
        font-weight: bold;
        font-size: 18px;
        padding: 10px 20px;
        border-bottom: 2px solid;
    }

    .collapse-title > i {
        color: inherit;
        font-size: 24px;
    }
</style>
<body>
<a-layout id="app" v-cloak :class="themeSwitcher.currentTheme">
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip='{{ i18n "loading"}}'>
                <a-space direction="vertical">
                    <a-card hoverable style="margin-bottom: .5rem;">
                        <a-row>
                            <a-col :xs="24" :sm="8" style="padding: 4px;">
                                <a-space direction="horizontal">
                                    <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">{{ i18n "pages.settings.save" }}</a-button>
                                    <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">{{ i18n "pages.settings.restartPanel" }}</a-button>
                                </a-space>
                            </a-col>
                            <a-col :xs="24" :sm="16">
                                <template>
                                    <div>
                                        <template>
                                            <div>
                                                <a-back-top :target="() => document.getElementById('content-layout')" visibility-height="200">
                                                </a-back-top>
                                                <a-alert type="warning" style="float: right; width: fit-content"
                                                message='{{ i18n "pages.settings.infoDesc" }}'
                                                show-icon
                                                >
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </a-col>
                        </a-row>
                    </a-card>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab='{{ i18n "pages.settings.panelSettings"}}'>
                            <a-list item-layout="horizontal">
                                <a-list-item>
                                    <a-row style="padding: 20px">
                                        <a-col :lg="24" :xl="12">
                                            <a-list-item-meta title='{{ i18n "pages.settings.remarkModel"}}'>
                                                <template slot="description">{{ i18n "pages.settings.sampleRemark"}}: <i>#[[ remarkSample ]]</i></template>
                                            </a-list-item-meta>
                                        </a-col>
                                        <a-col :lg="24" :xl="12">
                                            <a-input-group style="width: 100%;">
                                                <a-select style="padding-right: .5rem; min-width: 80%; width: auto;"
                                                    mode="multiple"
                                                    v-model="remarkModel"
                                                    :dropdown-class-name="themeSwitcher.currentTheme">
                                                    <a-select-option v-for="(value, key) in remarkModels" :value="key">[[ value ]]</a-select-option>
                                                </a-select>
                                                <a-select style="width: 20%;" v-model="remarkSeparator" :dropdown-class-name="themeSwitcher.currentTheme">
                                                    <a-select-option v-for="key in remarkSeparators" :value="key">[[ key ]]</a-select-option>
                                                </a-select>
                                            </a-input-group>
                                        </a-col>
                                    </a-row>
                                </a-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.panelListeningIP"}}' desc='{{ i18n "pages.settings.panelListeningIPDesc"}}' v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.panelListeningDomain"}}' desc='{{ i18n "pages.settings.panelListeningDomainDesc"}}' v-model="allSetting.webDomain"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.panelPort"}}' desc='{{ i18n "pages.settings.panelPortDesc"}}' v-model="allSetting.webPort" :min="0"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.publicKeyPath"}}' desc='{{ i18n "pages.settings.publicKeyPathDesc"}}' v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.privateKeyPath"}}' desc='{{ i18n "pages.settings.privateKeyPathDesc"}}' v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.panelUrlPath"}}' desc='{{ i18n "pages.settings.panelUrlPathDesc"}}' v-model="allSetting.webBasePath"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.sessionMaxAge" }}' desc='{{ i18n "pages.settings.sessionMaxAgeDesc" }}' v-model="allSetting.sessionMaxAge" :min="0"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.pageSize" }}' desc='{{ i18n "pages.settings.pageSizeDesc" }}' v-model="allSetting.pageSize" :min="0" :step="5"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.expireTimeDiff" }}' desc='{{ i18n "pages.settings.expireTimeDiffDesc" }}' v-model="allSetting.expireDiff" :min="0"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.trafficDiff" }}' desc='{{ i18n "pages.settings.trafficDiffDesc" }}' v-model="allSetting.trafficDiff" :min="0"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.timeZone"}}' desc='{{ i18n "pages.settings.timeZoneDesc"}}' v-model="allSetting.timeLocation"></setting-list-item>
                                <a-list-item>
                                    <a-row style="padding: 20px">
                                        <a-col :lg="24" :xl="12">
                                            <a-list-item-meta title="Language" />
                                        </a-col>

                                        <a-col :lg="24" :xl="12">
                                            <template>
                                                <a-select
                                                    ref="selectLang"
                                                    v-model="lang"
                                                    @change="setLang(lang)"
                                                    :dropdown-class-name="themeSwitcher.currentTheme"
                                                    style="width: 100%"
                                                >
                                                    <a-select-option :value="l.value" :label="l.value" v-for="l in supportLangs">
                                                        <span role="img" :aria-label="l.name" v-text="l.icon"></span>
                                                        &nbsp;&nbsp;<span v-text="l.name"></span>
                                                    </a-select-option>
                                                </a-select>
                                            </template>
                                        </a-col>
                                    </a-row>
                                </a-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab='{{ i18n "pages.settings.securitySettings"}}' style="padding: 20px;">
                            <a-divider>{{ i18n "pages.settings.security.admin"}}</a-divider>
                            <a-form style="padding: 20px;" layout="inline">
                                <table cellpadding="2">
                                    <tr>
                                        <td>{{ i18n "pages.settings.oldUsername"}}:</td>
                                        <td>
                                            <a-form-item>
                                                <a-input v-model="user.oldUsername" style="width: 200px"></a-input>
                                            </a-form-item>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "pages.settings.currentPassword"}}:</td>
                                        <td>
                                            <a-form-item>
                                                <password-input v-model="user.oldPassword" style="width: 200px"></password-input>
                                            </a-form-item>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "pages.settings.newUsername"}}:</td>
                                        <td>
                                            <a-form-item>
                                                <a-input v-model="user.newUsername" style="width: 200px"></a-input>
                                            </a-form-item>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "pages.settings.newPassword"}}:</td>
                                        <td>
                                            <a-form-item>
                                                <password-input v-model="user.newPassword" style="width: 200px"></password-input>
                                            </a-form-item>            
                                        </td>
                                    </tr>
                                </table>
                                <a-button type="primary" @click="updateUser">{{ i18n "confirm" }}</a-button>
                            </a-form>
                            <a-divider>{{ i18n "pages.settings.security.secret"}}</a-divider>
                            <a-form style="padding: 20px;">
                                <a-list-item>
                                    <a-row>
                                        <a-col :lg="24" :xl="12">
                                            <a-list-item-meta title='{{ i18n "pages.settings.security.loginSecurity" }}' description='{{ i18n "pages.settings.security.loginSecurityDesc" }}' />
                                        </a-col>
                                        <a-col :lg="24" :xl="12">
                                            <template>
                                                <a-switch @change="toggleToken(allSetting.secretEnable)" v-model="allSetting.secretEnable"></a-switch>
                                                <a-icon style="margin-left: 1rem;" v-if="allSetting.secretEnable" :spin="this.changeSecret" type="sync" @click="getNewSecret"></a-icon>
                                            </template>
                                        </a-col>
                                    </a-row>
                                </a-list-item>
                                <a-list-item>
                                    <a-row>
                                        <a-col :lg="24" :xl="12">
                                            <a-list-item-meta title='{{ i18n "pages.settings.security.secretToken" }}' description='{{ i18n "pages.settings.security.secretTokenDesc" }}' />
                                        </a-col>
                                        <a-col :lg="24" :xl="12">
                                            <template>
                                                <a-textarea type="text" :disabled="!allSetting.secretEnable" v-model="user.loginSecret"></a-textarea>
                                            </template>
                                        </a-col>
                                    </a-row>
                                </a-list-item>
                                <a-button type="primary" :loading="this.changeSecret" @click="updateSecret">{{ i18n "confirm" }}</a-button>
                            </a-form>
                        </a-tab-pane>

                        <a-tab-pane key="3" tab='{{ i18n "pages.settings.TGBotSettings"}}'>
                            <a-list item-layout="horizontal">
                                <setting-list-item type="switch" title='{{ i18n "pages.settings.telegramBotEnable" }}' desc='{{ i18n "pages.settings.telegramBotEnableDesc" }}' v-model="allSetting.tgBotEnable"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.telegramToken"}}' desc='{{ i18n "pages.settings.telegramTokenDesc"}}' v-model="allSetting.tgBotToken"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.telegramChatId"}}' desc='{{ i18n "pages.settings.telegramChatIdDesc"}}' v-model="allSetting.tgBotChatId"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.telegramNotifyTime"}}' desc='{{ i18n "pages.settings.telegramNotifyTimeDesc"}}' v-model="allSetting.tgRunTime"></setting-list-item>
                                <setting-list-item type="switch" title='{{ i18n "pages.settings.tgNotifyBackup" }}' desc='{{ i18n "pages.settings.tgNotifyBackupDesc" }}' v-model="allSetting.tgBotBackup"></setting-list-item>
                                <setting-list-item type="switch" title='{{ i18n "pages.settings.tgNotifyLogin" }}' desc='{{ i18n "pages.settings.tgNotifyLoginDesc" }}' v-model="allSetting.tgBotLoginNotify"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.tgNotifyCpu" }}' desc='{{ i18n "pages.settings.tgNotifyCpuDesc" }}' v-model="allSetting.tgCpu" :min="0" :max="100"></setting-list-item>
                                <a-list-item>
                                    <a-row style="padding: 20px">
                                        <a-col :lg="24" :xl="12">
                                            <a-list-item-meta title="Telegram Bot Language" />
                                        </a-col>

                                        <a-col :lg="24" :xl="12">
                                            <template>
                                                <a-select
                                                    ref="selectBotLang"
                                                    v-model="allSetting.tgLang"
                                                    :dropdown-class-name="themeSwitcher.currentTheme"
                                                    style="width: 100%"
                                                >
                                                    <a-select-option :value="l.value" :label="l.value" v-for="l in supportLangs">
                                                        <span role="img" :aria-label="l.name" v-text="l.icon"></span>
                                                        &nbsp;&nbsp;<span v-text="l.name"></span>
                                                    </a-select-option>
                                                </a-select>
                                            </template>
                                        </a-col>
                                    </a-row>
                                </a-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab='{{ i18n "pages.settings.subSettings" }}'>
                            <a-list item-layout="horizontal">
                                <setting-list-item type="switch" title='{{ i18n "pages.settings.subEnable"}}' desc='{{ i18n "pages.settings.subEnableDesc"}}' v-model="allSetting.subEnable"></setting-list-item>
                                <setting-list-item type="switch" title='{{ i18n "pages.settings.subEncrypt"}}' desc='{{ i18n "pages.settings.subEncryptDesc"}}' v-model="allSetting.subEncrypt"></setting-list-item>
                                <setting-list-item type="switch" title='{{ i18n "pages.settings.subShowInfo"}}' desc='{{ i18n "pages.settings.subShowInfoDesc"}}' v-model="allSetting.subShowInfo"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.subListen"}}' desc='{{ i18n "pages.settings.subListenDesc"}}' v-model="allSetting.subListen"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.subDomain"}}' desc='{{ i18n "pages.settings.subDomainDesc"}}' v-model="allSetting.subDomain"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.subPort"}}' desc='{{ i18n "pages.settings.subPortDesc"}}' v-model.number="allSetting.subPort"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.subPath"}}' desc='{{ i18n "pages.settings.subPathDesc"}}' v-model="allSetting.subPath"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.subCertPath"}}' desc='{{ i18n "pages.settings.subCertPathDesc"}}' v-model="allSetting.subCertFile"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.subKeyPath"}}' desc='{{ i18n "pages.settings.subKeyPathDesc"}}' v-model="allSetting.subKeyFile"></setting-list-item>
                                <setting-list-item type="text" title='{{ i18n "pages.settings.subURI"}}' desc='{{ i18n "pages.settings.subURIDesc"}}' v-model="allSetting.subURI" placeholder="(http|https)://domain[:port]/path/"></setting-list-item>
                                <setting-list-item type="number" title='{{ i18n "pages.settings.subUpdates"}}' desc='{{ i18n "pages.settings.subUpdatesDesc"}}' v-model="allSetting.subUpdates"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
<script src="{{ .base_path }}assets/js/model/setting.js?{{ .cur_ver }}"></script>
{{template "component/themeSwitcher" .}}
{{template "component/password" .}}
{{template "component/setting"}}
<script>
    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            themeSwitcher,
            spinning: false,
            changeSecret: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
            lang: getLang(),
            showAlert: false,
            remarkModels: {i:'Inbound',e:'Email',o:'Other'},
            remarkSeparators: [' ','-','_','@',':','~','|',',','.','/'],
            remarkSample: '',
            get remarkModel() {
                rm = this.allSetting.remarkModel;
                return rm.length>1 ? rm.substring(1).split('') : [];
            },
            set remarkModel(value) {
                rs = this.allSetting.remarkModel[0];
                this.allSetting.remarkModel = rs + value.join('');
                this.changeRemarkSample();
            },
            get remarkSeparator() {
                return this.allSetting.remarkModel.length > 1 ? this.allSetting.remarkModel.charAt(0) : '-';
            },
            set remarkSeparator(value) {
                this.allSetting.remarkModel = value + this.allSetting.remarkModel.substring(1);
                this.changeRemarkSample();
            },
            changeRemarkSample(){
                sample = []
                this.remarkModel.forEach(r => sample.push(this.remarkModels[r]));
                this.remarkSample = sample.length == 0 ? '' : sample.join(this.remarkSeparator);
            }   
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/panel/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    app.changeRemarkSample();
                    this.saveBtnDisable = true;
                }
                await this.fetchUserSecret();
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/panel/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/panel/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                    window.location.replace(basePath + "logout");
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: '{{ i18n "pages.settings.restartPanel" }}',
                        content: '{{ i18n "pages.settings.restartPanelDesc" }}',
                        class: themeSwitcher.currentTheme,
                        okText: '{{ i18n "sure" }}',
                        cancelText: '{{ i18n "cancel" }}',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/panel/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    let { webCertFile, webKeyFile, webDomain: host, webPort: port, webBasePath: base } = this.allSetting;
                    const isTLS = webCertFile !== "" || webKeyFile !== "";
                    const url = buildURL({ host, port, isTLS, base, path: "panel/settings" });
                    window.location.replace(url);
                }
            },
            async fetchUserSecret() {
                this.loading(true);
                const userMessage = await HttpUtil.post("/panel/setting/getUserSecret", this.user);
                if (userMessage.success) {
                    this.user = userMessage.obj;
                }
                this.loading(false);
            },
            async updateSecret() {
                this.loading(true);
                const msg = await HttpUtil.post("/panel/setting/updateUserSecret", this.user);
                if (msg.success) {
                    this.user = msg.obj;
                    window.location.replace(basePath + "logout");
                }
                this.loading(false);
                await this.updateAllSetting();
            },
            generateRandomString(length) {
                var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890";
                let randomString = "";
                for (let i = 0; i < length; i++) {
                    randomString += chars[Math.floor(Math.random() * chars.length)];
                }
                return randomString;
            },
            async getNewSecret() {
                if (!this.changeSecret) {
                    this.changeSecret = true;
                    this.user.loginSecret = '';
                    const newSecret = this.generateRandomString(64);
                    await PromiseUtil.sleep(1000);
                    this.user.loginSecret = newSecret;
                    this.changeSecret = false;
                }
            },
            async toggleToken(value) {
                if (value) {
                await this.getNewSecret();
                } else {
                this.user.loginSecret = "";
                }
            },
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(600);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });
</script>
</body>
</html>
